<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SamWickBLOG/beyondPolitics</title>
  <link rel="stylesheet" href="static/css/styles.css" />
</head>
<body >
    <header class="navbar_beyond">
        <ul class="navbar__navigation_beyond">
            <li class="navbar__navigation-item">
                <a href="/" class="navbar__link">HOME</a>
            </li>
            <li class="navbar__navigation-item">
              <a href="#" class="navbar__link">BIO</a>
            </li>
            <li class="navbar__navigation-item">
                <a href="#" class="navbar__link">LITERATURE</a>
            </li>
            <li class="navbar__navigation-item">
                <a href="#" class="navbar__link">THINKING OUT LOUD</a>
            </li>
            <li class="navbar__navigation-item">
                <a href="#" class="navbar__link">VOICE FIRST</a>
            </li>
          </ul>         
    </header>
    <div class="flexboxmain" style="background:url(/static/beyond_back.svg) center / cover no-repeat;">
        <main class="main">
            <section>
              <h1>Add new entry</h1>
              <form class="form" action="/beyond" method="POST">
                <p class="form__input">
                  <label for="entry" class="form__label">Entry contents:</label>
                  <textarea name="content" id="entry" class="form__textarea"></textarea>
                </p>
                <button type="submit" class="form__submit">Add entry</button>
              </form>
            </section>
            <section>
              <h1>Recent posts</h1>
              {% for entry in entry %}
                <article class="entry">
                  <p> this is real</p>
                  <div>
                    <h2 class="entry__title">{{ entry[0] | truncate(30, true) }}</h2>
                    <time class="entry__date" datetime="{{ entry[1] }}">• {{ entry[2] }}</time>
                  </div>
                  <p class="entry__content">
                    {{ entry[0] }}
                  </p>
                  </p>
                </article>
              {% endfor %}
            </section>
          </main>
        
    
    </div>
</body>
</html>