<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SamWickBLOG</title>
  <link rel="stylesheet" href="static/css/styles.css" />
</head>
<body >
  <header >
    <div class="flexboxmain" style="background:url(/static/Wic_block.svg) center / cover no-repeat;">
            <div class="flexbox1">
                <div class="fb1_item1">
                    <img class="samlogo" src="static/Wic_logo.png" alt="SamLogo" />
                </div>
                <div class="social_media">
                    <ul class="social_media_bar">
                        <li class="sm-item">
                          <a href="#" class="navbar__link">
                            <img class="smicon" src="static/fbicon.png" alt="fb_icon" style="width:30px;height:20px;"/>
                          </a>
                        </li>
                        <li class="sm-item">
                          <a href="#" class="navbar__link">
                            <img class="smicon" src="static/insta_icon.webp" alt="insta_icon" style="width:20px;height:20px;"/>
                          </a>
                        </li>
                        <li class="sm-item">
                            <a href="#" class="navbar__link">
                            <img class="smicon" src="static/twicon.png" alt="twitter_icon" style="width:20px;height:20px;"/>
                            </a>
                        </li>
                      </ul>
                </div>
            </div>

            <div class="navsec">
                <ul class="navbar__navigation">
                    <li class="navbar__navigation-item">
                    <a href="#" class="navbar__link">BIO</a>
                    </li>
                    <li class="navbar__navigation-item">
                    <a href="/beyond" class="navbar__link">BEYOND POLITICS</a>
                    </li>
                    <li class="navbar__navigation-item">
                        <a href="#" class="navbar__link">LITERATURE</a>
                    </li>
                    <li class="navbar__navigation-item">
                        <a href="#" class="navbar__link">THINKING OUT LOUD</a>
                    </li>
                    <li class="navbar__navigation-item">
                        <a href="#" class="navbar__link">VOICE FIRST</a>
                    </li>
                </ul>
            </div>
    </div>

 
  </header>
  <main class="main">
 


  </main>
  <footer class="footer">
    
      
  </footer>
</body>
</html>